.header {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  display: flex;
  height: 100%;
  width: 100vw;
  min-height: 80px;
  max-height: 80px;
  min-width: 1440px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 13px 270px;
  background: linear-gradient(to right, #5047cb, #7a47cb);

  &-logo {
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: 50px;
  }
}
